header{
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(5px) 
}

.hero-section{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin: 25px auto;
    width: 98%;
    border: 1.5px solid #2c2c2c;
    box-shadow: 0 2px 8px 5px #ccc;
    padding: 15px;
    border-radius: .5rem;
}

.hero-section h1{
    font-size: 32px;
    font-weight: bold;
    font-family: poppins, sans-serif;
}

.hero-section p, .flexed-slide p{
    text-align: justify;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5rem;
}

.flexed-slide{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    width: 98%;
    border: 1.5px solid #2c2c2c;
    margin: 25px auto;
    border-radius:.5rem;
    box-shadow: 2px 8px 2px #ccc;
    padding: 35px 0;
}

.flexed-slide:nth-of-type(2){
    margin-bottom: 150px;
}

.flexed-slide h1{
    font-size: 24px;
    font-weight: bold;
    font-family: poppins, sans-serif;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-indent: 15px
}

.flexed-slide .slide, .comment-section{
    flex-basis: 30%;
    padding: 15px;
    border: 1.5px solid #ccc;
    border-radius:.5rem;
}

.comment-section{
    position: relative;
}

.comment-section img{
    position: absolute;
    border:1px solid rgba(0, 0, 0, 0.733);
    height: 60px;
    width: 60px;
    border-radius:50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    top: -15%;
    left: 40%;
}

.comment-section p{
    margin-top: 30px;
}

.margined{
    position: absolute;
    left: 45%;
    bottom: -480px
}